/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2017, 9:24:55 PM
    Author     : gaspar
*/
* {
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}
html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}
body {
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 1.75em;
    font-weight: 600
}
h2 {
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 1px dotted #ccc;
}
h3 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 0.3em
}
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    display: block;
    padding-top: 80px;
}
header {
    background-color: #fff;
    position: fixed;
    display: block;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    z-index: 10;
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);*/
}
header div {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    outline: none;
}

.container {
    font-size: 0; /*fix white space*/
}
.container > div {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    /*text-align: center*/;
}
.container > div.col-one {
    width: 33.33%;
}
.container > div.col-two {
    width: 66.66%;
}
.container .row {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    min-height: 100px;
    display: block;
    background-color: #fff;
    margin: 15px 7.5px;
}
header .container .row {
    box-shadow: none;
    min-height: 0;

    /*margin:10px;*/
}
footer {
    display: block;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
footer .container {
    max-width: 1170px;
}
footer .container .row {
    max-width: 1155px;
    padding: 15px 0 15px 15px;
    min-height: 1px;
    margin: 0 7.7px 15px 7.5px;
    width: 100%;
}
.container .row .row-fill {
    padding: 15px;  
}




.relative {
    position: relative
}
figure {
    margin: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-after: px;
}
figure img{
    width: 100%;
    max-height: 400px;
    background-size: cover;
}
.panel-list{
    padding: 1.25em;
    font-size: 1em;
}
.panel-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.panel-list ul li {
    line-height: 2.5em;
}
.panel-list ul li i {
    margin-right: 0.3em;
}


 .panel-list ul  a {
       color: #03c;
       -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
       -o-transition: 0.5s;
       -ms-transition: 0.5s;
       transition: 0.5s;
       margin-bottom: 5px;
       margin-top: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       display: block;
   }

.panel-list ul  a:hover {
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-image: -webkit-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -moz-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -o-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -ms-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);

   }


.panel-list h3 {
    margin-top: 0;
    border-bottom: 1px dotted #eee;
}

 .row .row-fill h3  a {
       color: #03c;
       -webkit-transition: 0.5s;
       -moz-transition: 0.5s;
       -o-transition: 0.5s;
       -ms-transition: 0.5s;
       transition: 0.5s;
       margin-bottom: 5px;
       margin-top: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       display: block;
   }

.row .row-fill h3  a:hover {
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-image: -webkit-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -moz-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -o-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);
       background-image: -ms-linear-gradient(left, #f69, #fc0, #3c3, #09f, #96f);

   }

.bar-amount {
    float: right;
    width: 70%;
    background:#eee;
    display: inline-block;
    color: white;
    vertical-align: top;
    line-height: 16px;
    margin-top: 12px;
    font-size: 11px;
}
.bar-total {
    background: green;
    display: inline-block;
    height: 19px;
    font-size: 11px;
    padding-top: 3px;
    padding-left: 2%;
}
.width-5 {
    width: 48%;
}
.width-3 {
    width: 28%;
}
.width-4 {
    width: 38%;
}
.width-6 {
    width: 58%;
}
.width-7 {
    width: 68%;
}
.width-8 {
    width: 78%;
}
.width-9 {
    width: 88%;
}
.date {
    color: #999;
    font-size: .8em;
}
.separator {
    clear: both;
    margin: 20px 0 15px;
    display: block;
    height: 1px;
    border-bottom: 2px solid #eee;

}
.navigation{
    display: inline-block;
    vertical-align: top;
}
.search {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-left: 1em;
}
.search form {
    margin: 0;
    padding: 0;
}
.search input {
    width: 100%;
    border: none;
    padding: 0.9em;
    background: #fcfcfc;
}
.search input:focus {
    outline: none;
}
.network {
    display: inline-block;
    width: 182px;
    float: right;
}
.network ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.network ul li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 5px;
    background-size: 48px 48px;
}
.network ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.network ul li.facbook {
    background-image: url(../images/facebook_icon.png);
}

.network ul li.linkedin {
    background-image: url(../images/linkedin_icon.png);
}
.network ul li.contact {
    background-image: url(../images/contact_icon.png);
}


.nav-toggle {
    -webkit-box-shadow: 4px 2px 6px 0px rgba(145, 145, 145, 0.75);
    -moz-box-shadow:    4px 2px 6px 0px rgba(145, 145, 145, 0.75);
    box-shadow:         4px 2px 6px 0px rgba(145, 145, 145, 0.75);
    width: 200px;
    background: #f0f0f0;
    position: absolute;
    height: auto;
    box-sizing: content-box;
    display: none;
}
.nav-toggle a {
    padding: 8px 12px;
    text-decoration: none;
    color: #666;
    display: block;
    line-height: 30px!important;
    cursor: pointer;
}
.nav-toggle a:hover {
    background-color: #e0e0e0;
}

.nav-toggle.is-active {
    display: block;
}

h1.brand {
    color: #666;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding-top: 5px;
    padding-left: 15px;
    height: 30px;
}

.search-collapse {
    width: 48px;
    height: 48px;
    border: none;
    background-color: #f1f1f1;
    display: none;
}


header.smaller {
    height: 60px; 
}
header.smaller h1 {
    height: 27px;
    padding-top: 6px;
    font-size: 1.8em; 
}
header.smaller nav a {
    line-height: 75px; 
}
header.smaller .container .row {
    margin: 6px 7.5px;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}


.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.hamburger {
    margin-top: -5px;
}
.cd-top {
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background: #999;
    text-align: center;
    border-radius: 30px;
}

.frmContact input, 
.frmContact textarea {
    width: 100%;
    padding: 5px 8px;
    display: block;
    margin-bottom: 20px;
}
.frmContact textarea {
    height: 80px;
}

@media (max-width: 768px) {
    * {
        font-size: 16px;
    }
    .container > div.col-two, .container > div.col-one {
        display: block;
        width: 100%;
    }
    main {
        padding-top: 60px
    }

    .navigation {
        position: absolute;
        right: 20px;
        top: 8px;
    }
    .search {
        position: absolute;
        top: 8px;
        right: 80px;
    }
    .search input {
        display: none;
    }
    .search-collapse {
        display: block;
        position: absolute;
        right: 20px;
        width: 40px;
        height: 40px;
    }
    header.smaller .c-hamburger {
        width: 40px;
        height: 40px;
    }
    .network {
        display: none;
    }
    .nav-toggle {
        right: 0;
    }
}

@media (max-width: 876px) {
    * {
        font-size: 14px;
    }
    .search {
        width: 50%;
    }

}

@media (max-width: 600px) {
    .brand {
        padding-top: 15px;
    }
}
